
<table width="100%">
  <tr>
<td>
  <button [routerLink]="['/gestionbodega']" type="button"  style="width: 100px; height: 100px;">REGISTRAR BODEGAS</button>
</td>

  <td>
    <button [routerLink]="['/gestionproducto']" type="button"  style="width: 100px; height: 100px;">REGISTRAR PRODUCTOS</button>
  </td>

  <td>
    <button [routerLink]="['/listaproductos']" type="button"  style="width: 100px; height: 100px;">LISTAR PRODUCTOS</button>
  </td>

  <td>
    <button [routerLink]="['/listaproductos']" type="button"  style="width: 100px; height: 100px;">KARDEX</button>
  </td>
  </tr>
</table>
